/* body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 100%;
    height: 3042px;
    overflow-y: scroll;

    background: #FFFFFF;
} */


* {
    margin-block: 0;
    margin-inline: 0;
}

*::-webkit-scrollbar {
    display: none;
}


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 203px 0px 267px;

    overflow-y: hidden;
    overflow-x: hidden;

    position: absolute;
    height: 380px;
    left: 0px;
    top: 112px;

    background-color: #FFFFFF;
}

#hero h1 {
    width: 718px;
    height: 96px;

    /* Headline/Headline Small */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    /* Headline */

    color: #094067;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.hero-main {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0px 120px;
    gap: 130px;

    width: 1440px;
    height: 394px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero-image {
    width: 400px;
    height: 394px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 48px;

    position: absolute;
    width: 100%;
    left: 0px;
    top: 850px;

    /* Background and Button Text */

    background: #FFFFFF;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    transform: translateY(72px);

    width: 100%;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 120px;
    gap: 808px;

    width: 1440px;
    height: 36px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

section ul li h1 {
    width: 310px;
    height: 36px;

    /* Headline/Headline Medium */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 129% */


    /* Headline */

    color: #094067;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

section ul li a {
    width: 89px;
    height: 24px;

    /* Body/Body Large */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    /* Button */

    color: #3DA9FC;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.konten {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 120px 0px 120px;
    gap: 10px;

    width: 1440px;
    height: 472px;
    overflow-x: scroll;
    overflow-y: hidden;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.konten::-webkit-scrollbar {
    display: none;
}

.konten .kolom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;

    height: 471px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.konten .kolom .cover {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 24px 24px;
    gap: 16px;

    width: 236px;
    height: 473px;

    background: #FFFFFF;
    border: 1px solid #f4f4f4;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.konten .kolom a img {
    width: 188px;
    height: 283px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.konten .kolom a h3 {
    width: 188px;
    height: 20px;

    /* Body/Body Medium */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.25px;

    /* Paragraph */

    color: #5F6C7B;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.konten .kolom a h1 {
    width: 188px;
    height: 72px;

    /* Body/Body Large */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    letter-spacing: 0.5px;

    /* Headline */

    color: #094067;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.konten .kolom a .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 188px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.konten .kolom a .rating h3 {
    width: 39px;
    height: 24px;

    /* Body/Body Large */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: right;
    letter-spacing: 0.5px;

    /* Paragraph */

    color: #5F6C7B;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.konten .kolom a .scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 126px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.konten .kolom a .scores h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 24px;
    height: 24px;

    /* Body/Body Large */

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    color: #E0B442;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.konten .kolom a .scores .stars {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    gap: 2px;

    width: 98px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.last-section {
    margin-bottom: 120px;
}
