* {
    margin-block: 0;
    margin-inline: 0;
}

*::-webkit-scrollbar {
    display: none;
}

.cover {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 408px;
    height: 536px;
    left: 120px;
    top: 192px;
}
