* {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    border: 0;
}

.page {
    display: flex;
    flex-direction: row;
    height: 970px;
    overflow: hidden;
    align-items: flex-start;
    padding: 0px;
}

.foto-perpustakaan {
    height: 970px;
    width: 50%;
}

.foto-perpustakaan img {
    width: 100%;
    height: 970px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    top: 0;
    left: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 84px 120px;
    gap: 48px;

    width: 600px;
    height: 856px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.welcoming {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 600px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.welcoming h1{
    font-family: 'Product Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 129% */


    /* Headline */

    color: #094067;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.welcoming p {
    font-family: 'Product Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.5px;

    /* Headline */

    color: #094067;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 480px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 600px;

    margin-bottom: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1 {
    width: 100%;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.15px;

    /* Paragraph */

    color: #5F6C7B;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.box {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 600px;
    height: 56px;

    /* Background and Button Text */

    background: #FFFFFF;
    /* Background/Stroke */

    border: 1px solid #A2A2A6;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.box input {
    border: none;
    outline: none;
    width: 100%;
}

.box input[type="email"], .box input[type="text"], .box input[type="password"] {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.box input ::placeholder {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.1px;

    /* Neutral/Neutral-300 */

    color: #C1C1C1;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.box img {
    width: 24px;
    height: 24px;

    transform: translateY(2px);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bantuan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 254px;

    width: 600px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.bantuan .ingat {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 94px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bantuan .ingat #ingat {
    box-sizing: border-box;
    padding: 0;

    width: 20px;
    height: 20px;

    border: 2px solid #5F6C7B;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    appearance: none;
}

.bantuan .ingat #ingat:checked {
    content: url(../img/Icon/check_small.svg);
    box-sizing: border-box;

    position: relative;
    width: 20px;
    height: 20px;

    /* Paragraph */

    background: #5F6C7B;
    /* Paragraph */

    border: 2px solid #5F6C7B;
    border-radius: 4px;
}

.bantuan .ingat label {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.1px;

    /* Paragraph */

    color: #5F6C7B;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bantuan a {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.1px;

    /* Button */

    color: #3DA9FC;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 480px;
    height: 92px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.submit .button-logsign {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    width: 600px;
    height: 56px;

    /* Button */

    background: #3DA9FC;
    border-radius: 8px;

    transition-duration: .3s;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.submit .button-logsign:hover {
    background: #2f92dd;
    cursor: pointer;
    transition-duration: .3s;
}

.submit a {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.1px;

    /* Button */

    color: #3DA9FC;

    transform: translateX(57px);
}

.submit a::before {
    content: 'Tidak memiliki akun? ';
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.1px;

    /* Paragraph */

    color: #5F6C7B;
}

.atau {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 12px;

    width: 600px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.atau h3 {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.15px;

    /* Paragraph */

    color: #5F6C7B;
}

.login-integrate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 36px;

    width: 600px;
    height: 68px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.login-integrate figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 18px;
    gap: 10px;

    width: 72px;
    height: 68px;

    /* Background and Button Text */

    background: #FFFFFF;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.guestlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    right: 120px;
    bottom: 80px;
}

.guestlog h3 {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    /* Button */

    color: #3DA9FC;
}

.is-invalid {
    border: 1px solid #EB0029 !important;
}

.is-invalid svg path {
    stroke: #EB0029 !important;
}

.invalid-message {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.4px;

    color: #EB0029;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.alert-danger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 16px;

    position: absolute;
    height: 40px;
    top: 48px;

    /* Danger/Danger-300 */

    background: #F96563;
    /* Shadow/xl */

    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.alert-success{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 16px;

    position: absolute;
    height: 40px;
    top: 48px;

    /* Danger/Danger-300 */

    background: #6CE9A6;
    /* Shadow/xl */

    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.alert strong {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Background and Button Text */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
