* {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    border: 0;
}

.container {
    width: 100%;
    padding: 120px 96px;
    gap: 24px;
    display: grid;
    grid-template-columns: 260px 1100px;
    grid-template-rows: 80px 944px;
    grid-template-areas: 
    "data-pengguna tab-option"
    "data-pengguna daftar-buku";
}

.data-pengguna {
    text-align: center;
    grid-area: data-pengguna;
    line-height: 24px;
}

.data-pengguna img{
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: inline-block;
    padding-top: 42px;
}

.data-pengguna h3{
    text-align: center;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #5F6C7B;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.data-pengguna p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #094067;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ubah-data{
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-ubah{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    color: #3DA9FC;
}

#button-ubah:hover{
    cursor: pointer;
}

.keluar{
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-keluar{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    color: #EB0029;
}

#button-keluar:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #5F6C7B;
}

.tab-option ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 56px;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.tab-option {
    grid-area: tab-option;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.main-content {
    height: 100%;
    grid-area: daftar-buku;
}

#buku-dipinjam:not(:target), #review-rating:not(:target), #buku-diunggah:not(:target){
    display: none;
}

#buku-dipinjam:target, #review-rating:target, #buku-diunggah:target{
    display: visible;
}

#buku-dipinjam{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 472px 472px;
    
}

.buku{
    /* grid-auto-flow: row; */
}

#buku-dipinjam .cover {
    width: 180px;
    height: 283px;
    padding-right: 100px;
}
.buku img{
    border-radius: 16px;
    padding-right: 4px
}

.buku button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 48px;  
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;

}

.buku .button-baca {
    background: #3DA9FC;
}

.buku .button-kembalikan {
    background: #EB0029;
}

#review-rating h3 {
    display: inline;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #5F6C7B;
    flex: none;
    order: 0;
    flex-grow: 0;
}